[Desktop Entry]
Type=Application
Version=1.0
Name=Mudita Center
GenericName=Mudita device manager
Comment=Manage your Mudita device — monochrome dark build
Exec=mudita-center %U
Icon=mudita-center
Terminal=false
Categories=Utility;
StartupWMClass=mudita-center
Keywords=mudita;kompakt;harmony;phone;
